<include file="Public:header" />
<div class="row">
       	<div class="col-md-8">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">密码修改</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form class="form-horizontal" action = "{:U('User/doChangePassword')}" method='post'>
				<div class="box-body">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">原密码</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputEmail3"
								placeholder="原密码" name='oldPwd'>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3"
								placeholder="新密码" name='newPwd1'>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3"
								placeholder="确认密码" name='newPwd2'>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-info pull-right">确认修改</button>
				</div>
				<!-- /.box-footer -->
			</form>
		</div>
	</div>
      </div>
<include file="Public:footer" />
